
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Gestion des rentr&eacute;es</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

            <div class="row">
                <div class="col-lg-2">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#MyModal">
                      Ajouter une rentr&eacute;e
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <h3>Liste des rentr&eacute;es: </h3>
                </div>


                <div class="col-lg-4 text-right">
                    <h4>
                        <select id="selPers" onchange="updPage()">
                            <option value="all" >-Toutes les personnes-</option>
                    
                            <option value="1" selected >
                            Jean Dupont
                            </option>
                    
                            <option value="2" >
                            Jean Dupont
                            </option>
                    
                        </select>
                    </h4>
                </div>

                <table class="table table-bordered table-striped">
                    <tr>
                      <th>ID</th>
                      <th>Origine</th>
                      <th>Date</th>
                      <th>Personne</th>
                      <th>Montant</th>
                      <th>Gestion</th>
                    </tr>
                
                </table>
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    <div class="modal fade bs-example-modal-lg" id="MyModal" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ajouter une nouvelle rentr&eacute;e</h4>
          </div>
          <div class="modal-body">
            <form class="form-horizontal" action="/addRentrees" method="post" onsubmit="return trySub()">

                <div class="form-group">
                    <label class="col-sm-3 control-label">Selectionnez une personne</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="personnes" id="personnes">
                        <option value="0">-Selectionner une personne-</option>
                        
                           <option value='1'>Jean Dupont</option>
                        
                           <option value='2'>Jean Dupont</option>
                        
                        </select>
                    </div>
                </div>
                <p class="text-center">-OU-</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ajouter une personne</label>
                    <div class="col-sm-9">
                     <div class="row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="nom" id="nom" placeholder="Entrez un nom"/>
                        </div>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" name="prenom" id="prenom" placeholder="Entrez un prénom"/>
                        </div>
                     </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Selectionnez une origine</label>
                    <div class="col-sm-9">
                        <select class="form-control" name="raisons" id="raisons">
                            <option value="0">-Selectionner une origine-</option>
                        
                        
                        </select>
                    </div>
                </div>
                <p class="text-center">-OU-</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Ajouter une origine</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="newRaison" id="newRaison" placeholder="Entrez une origine"/>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Montant de la transaction</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="number" class="form-control" name="montant" step="0.01" min=0 placeholder="Entrez un montant" required/>
                            <span class="input-group-addon">&euro;</span>
                        </div>
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Date de la transaction</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="datepicker" name="date" placeholder="Entrez une date" required/>
                    </div>
                </div>

                <hr/>

                <div id="erreur" class="text-danger"></div>

                <button type="submit" class="btn btn-success col-sm-offset-11">Valider</button>

            </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div class="modal fade bs-example-modal-lg" id="ValidModal" tabindex="-1" role="dialog" data-target=".bs-example-modal-lg">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ajouter une nouvelle rentr&eacute;e</h4>
          </div>
          <div class="modal-body">
            <p> 
            </p>
            <button type="button" class="btn btn-primary col-sm-offset-11" data-dismiss="modal">OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/sb-admin-2.js"></script>
    <script src="./assets/jquery-ui.js"></script>

    <script>
      function trySub(){
        var inpNom = document.getElementById("nom").value;
        var inpPrenom = document.getElementById("prenom").value;
        var inpPersonnes = document.getElementById("personnes").selectedIndex;
        var inpRaisons = document.getElementById("raisons").selectedIndex;
        var inpNewRaison = document.getElementById("newRaison").value;
        var spanErr = document.getElementById("erreur");

        if(inpNom == "" && inpPrenom == "" && inpPersonnes==0){
            spanErr.innerHTML = "<span>Veuillez renseigner une personne</span>";
            return false;
        }
        if(inpNewRaison == "" && inpRaisons == ""){
            spanErr.innerHTML = "<span>Veuillez renseigner une raison</span>";
            return false;
        }
        return true;
      }


      function updPage(){
        var selPers = document.getElementById('selPers').value;
        window.location.replace("/rentrees/"+selPers);
      }

      $( function() {
        $( "#datepicker" ).datepicker({
          dateFormat: "yy-mm-dd"
        });
      } );
        
    </script>